header{
    height: 60px;
}

#logo-small{
    max-height: 50px;
}

#search{
    background-color: rgba(0, 0, 0, 0.4);
}

main{
    height: calc(100vh - 60px);
}

#sidebar{
    background-image: url(../img/sidebar-bg.png);
}

/* utilities */
.bg-blue{
    background-color: blue;
}